/* Global settings */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: Arial, sans-serif;
    background-color: #a5e1e1; /* Set teal background globally */
}

/* Navigation bar settings */
.navbar-nav {
    background-color: #FFFFFF;
}

/* Content settings */
.container-fluid {
    background-color: #004885;
    width: 100vw;
    height: calc(100vh - 50px); /* Adjust height assuming nav bar is 50px */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevents flex items from wrapping */
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    height: 100%;
    display: flex; /* Ensures flex properties are applied */
    flex-grow: 1; /* Allows row to expand to fill the container */
    margin: 0;
}

.col-md-6 {
    width: 50%; /* Explicit width for medium screens */
    flex: 1 0 auto; /* Flexibility in sizing */
    padding: 20px; /* Padding for spacing */
}

input, .btn {
    width: 80%;
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #004885; /* Button color can be adjusted if needed */
    color: white;
    border: none;
    font-weight: bold;
}

.highlight-link {
    color: #004885;
    text-decoration: none;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%; /* Full width on smaller screens */
        flex: 0 0 100%;
    }
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}


/* Add to your CSS file (e.g., static/css/style.css) */
.avatar-img-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Add some space between the avatar and the username */
    vertical-align: middle;
}

.flash-message.alert-success {
    background-color: green;
    color: white;
}

.flash-message.alert-danger {
    background-color: red;
    color: white;
}

.flash-message.alert-warning {
    background-color: orange;
    color: white;
}

.avatar-search-result {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
