{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- banner with avatar -->
    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Banner" class="banner-img">
        <div class="avatar-wrapper">
            <img src="{{ url_for('static', filename='images/default_avatar.png') }}" alt="Avatar" class="avatar-img">
        </div>
    </div>
    
    <div class="user-info">
        <h1>Welcome, {{ username }}!</h1>
        <p>Customise your profile and see your activities here.</p>
        <!-- Recent Posts -->
    </div>
</div>
{% endblock %}
