{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<section>
    <div align = "center" style="padding:0 12px; padding-top:300px; max-width:1920px;" class="mx-auto items-center">
    <div class="div-land relative z10" style = "max-width: 450px;">
        <h1 class ="text-white text-36px sm:text-60px" >Mix'D <span class="text-brand">| </span> Opinions</h1>
        <p align ="center" class ="text-white text-16px sm:text-20px" style="margin-top:30px">Find and share drink reviews with a community that loves drinks as much as you do!</p>
        <a href="/sign-up"><button class = "button-nav"style="margin-top:30px">Get Started!</button></a>
    </div>
</div>

</section>


{% endblock %}