<!-- leaderboard.html -->
{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Sip by Sip, Post by Post: Here's to Our Drink Review Leaders!</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Posts</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    fetch("{{ url_for('routes.api_leaderboard') }}")
        .then(response => response.json())
        .then(data => {
            const leaderboardBody = document.getElementById('leaderboard-body');
            leaderboardBody.innerHTML = '';

            data.forEach((user, index) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <th scope="row">${index + 1}</th>
                    <td><img src="${user.avatar}" alt="Avatar" class="avatar-img-small"> <a href="{{ url_for('routes.user_profile', username='') }}${user.username}">${user.username}</a></td>
                    <td>${user.postsCount}</td>
                `;
                leaderboardBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching leaderboard data:', error));
});
</script>
{% endblock %}
