{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Sip by Sip, Post by Post: Here's to Our Drink Review Leaders!</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Posts</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
