{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutters">
        <!-- Left Side - Welcome Message and Logo -->
        <div class="col-md-6 welcome-container">
            <div class="welcome-text">
                <h1>Welcome to Mix'd Opinions</h1>
                <p>Find and share drink reviews with a community that loves drinks as much as you do!</p>
                <img src="{{ url_for('static', filename='images/drink_logo.png') }}" alt="Drink Logo" class="drink-logo">
            </div>
        </div>

        <!-- Right Side - Login Form -->
        <div class="col-md-6 login-container">
            <h2 class="text-center">Login to your account!</h2>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div id="login-form" class="text-center">
                    <button type="submit" class="btn button-nav">Login</button>
                    <br />
                    <hr />
                    <p>Don't have an account? <a id="signUp" href="/sign-up">Sign up here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
