<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Drink Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Project.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid min-vh-100">
        <div class="row h-100">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-white bg-teal">
                <img src="{{ url_for('static', filename='images/drink_logo.png') }}" alt="Drinks Reviews Logo" class="mb-4" style="max-width: 40%;">
                <h1>Welcome to Drinks Reviews</h1>
                <p>Find and share drink reviews with a community that loves drinks as much as you do!</p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-blue">
                <div class="w-75">
                    <h2 class="mb-4 text-center">Login to your account!</h2>
                    <form action="/login" method="post" class="d-flex flex-column">
                        <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Username or email" required>
                        <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-primary mb-2 w-100">Login</button>
                        <div class="text-center">
                            <a href="/forgot-password" class="highlight-link">Forgot Password?</a>
                        </div>
                        <hr>
                        <p class="text-center">Don't have an account? <a href="{{ url_for('sign_up') }}">Sign up here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
