{% extends "base.html" %}

{% block title %}Popular Reviews{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popular_reviews.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5 "style="
background-color: #000000b8;">
    <h1 class="text-center mb-4" style="
    color: white;">Most Popular Reviews</h1>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 5%;">#</th>
                    <th scope="col" style="width: 20%;">Username</th>
                    <th scope="col" style="width: 15%;">Drink Type</th>
                    <th scope="col" style="width: 40%;">Review</th>
                    <th scope="col" style="width: 20%;">Total Likes</th>
                </tr>
            </thead>
            <tbody id="popular-reviews-body" style="color: white;">
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    fetch("{{ url_for('routes.api_popular_reviews') }}")
        .then(response => response.json())
        .then(data => {
            const popularReviewsBody = document.getElementById('popular-reviews-body');
            popularReviewsBody.innerHTML = '';

            data.forEach((review, index) => {
                const content = review.content.split(",");
                const drinkName = content[0].split(":")[1].trim();
                const rating = parseInt(content[1].split(":")[1].trim());
                const instructions = content[2].split(":")[1].trim();
                const ingredients = content[3].split(":")[1].trim();
                const reviewText = content[4].split(":")[1].trim();

                const ratingStars = Array(rating).fill('<i class="fas fa-star"></i>').join('') + 
                                    Array(5 - rating).fill('<i class="far fa-star"></i>').join('');

                const capitalize = (str) => str.charAt(0).toUpperCase() + str.slice(1);
                const formatDrinkType = (type) => capitalize(type.replace(/_/g, '-'));

                const row = document.createElement('tr');
                row.innerHTML = `
                    <th scope="row">${index + 1}</th>
                    <td><img src="${review.avatar}" alt="Avatar" class="avatar-img-small"> <a href="{{ url_for('routes.user_profile', username='') }}${review.username}">${review.username}</a></td>
                    <td>${formatDrinkType(review.drink_type)}</td>
                    <td class="review-content">
                        <p><strong>Drink Type:</strong> ${formatDrinkType(review.drink_type)}</p>
                        <p><strong>Drink Name:</strong> ${drinkName}</p>
                        <p><strong>Rating:</strong> <span class="star-rating">${ratingStars}</span></p>
                        <p><strong>Instructions:</strong> ${instructions}</p>
                        <p><strong>Ingredients:</strong> ${ingredients}</p>
                        <p><strong>Review:</strong> ${reviewText}</p>
                    </td>
                    <td>${review.total_likes}</td>
                `;
                popularReviewsBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching popular reviews data:', error));
});
</script>
{% endblock %}
