<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Drink Reviews</title>
    <link rel="stylesheet" href="Project.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="info-panel text-center">
            <h1>Welcome to Drinks Reviews</h1>
            <p>Find and share drink reviews with a community that loves drinks as much as you do!</p>
        </div>
        <div class="login-form">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="form-group">
                    <a href="#" class="float-right">Forgot password?</a>
                </div>
                <pre></pre>
                <hr>
                <p class="text-center mt-2">Don't have an account? <a href="/register">Sign up here</a></p>
            </form>
        </div>
    </div>
</body>
</html>
