body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 700px; 
}

.info-panel {
    width: 50%;
    margin-right: 20px; 
}

.login-form {
    width: 50%;
}

.login-form form {
    margin-top: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.btn-primary, .btn-danger {
    width: 100%;
    padding: 10px;
}


a {
    text-decoration: none;
    color: #007bff;
}
